<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132521253782-nud90bd8dfhqoqlnvuemttrfkcii5s88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132521253782-nud90bd8dfhqoqlnvuemttrfkcii5s88</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>132521253782-tsqd39bhfoocknidlo3ppc2auve2p5ce.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-oohNxEN3689hhBUq0yGwCnXSZY28XYU</string>
	<key>GCM_SENDER_ID</key>
	<string>132521253782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohak.instagram</string>
	<key>PROJECT_ID</key>
	<string>demoforfun-961d7</string>
	<key>STORAGE_BUCKET</key>
	<string>demoforfun-961d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132521253782:ios:4c5cbe4ed6476e69</string>
	<key>DATABASE_URL</key>
	<string>https://demoforfun-961d7.firebaseio.com</string>
</dict>
</plist>